n8n/workflows/client-onboarding.json
{
  "name": "Client Onboarding with Approval",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client-onboarding",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "client-onboarding"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://auth:8082/api/v1/auth/login",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"username\": \"admin\", \"password\": \"Admin123!\" }",
        "options": {}
      },
      "id": "login",
      "name": "Login to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8080/api/v1/clients",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"firstName\": \"{{ $('Webhook Trigger').first().json.body.firstName }}\",\n  \"lastName\": \"{{ $('Webhook Trigger').first().json.body.lastName }}\",\n  \"email\": \"{{ $('Webhook Trigger').first().json.body.email }}\",\n  \"type\": \"Individual\",\n  \"status\": \"Pending\"\n}",
        "options": {}
      },
      "id": "create-client",
      "name": "Create Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-created",
      "name": "Client Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "={{ $json.id }}"
        }
      },
      "id": "wait-approval",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [880, -80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://auth:8082/api/v1/auth/login",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"username\": \"admin\", \"password\": \"Admin123!\" }",
        "options": {}
      },
      "id": "login-for-update",
      "name": "Login for Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -80]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://api:8080/api/v1/clients/{{ $('Create Client').first().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $('Create Client').first().json.id }}\",\n  \"firstName\": \"{{ $('Create Client').first().json.firstName }}\",\n  \"lastName\": \"{{ $('Create Client').first().json.lastName }}\",\n  \"email\": \"{{ $('Create Client').first().json.email }}\",\n  \"type\": \"{{ $('Create Client').first().json.type }}\",\n  \"status\": \"Active\",\n  \"rowVersion\": \"{{ $('Create Client').first().json.rowVersion }}\"\n}",
        "options": {}
      },
      "id": "activate-client",
      "name": "Activate Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -80]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "approved",
              "type": "string"
            },
            {
              "id": "client-id",
              "name": "clientId",
              "value": "={{ $('Create Client').first().json.id }}",
              "type": "string"
            },
            {
              "id": "client-name",
              "name": "clientName",
              "value": "={{ $('Create Client').first().json.firstName }} {{ $('Create Client').first().json.lastName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "approved-result",
      "name": "Approved Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, -80]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "error",
              "name": "error",
              "value": "Client creation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "creation-failed",
      "name": "Creation Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 80]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "value": "Client created and waiting for approval",
              "type": "string"
            },
            {
              "id": "client-id",
              "name": "clientId",
              "value": "={{ $('Create Client').first().json.id }}",
              "type": "string"
            },
            {
              "id": "resume-url",
              "name": "resumeUrl",
              "value": "=To approve, send a GET request to the execution's resume webhook URL shown in n8n UI",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "webhook-response-data",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, -220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, -220]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Login to API", "type": "main", "index": 0 }
        ]
      ]
    },
    "Login to API": {
      "main": [
        [
          { "node": "Create Client", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Client": {
      "main": [
        [
          { "node": "Client Created?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Client Created?": {
      "main": [
        [
          { "node": "Prepare Response", "type": "main", "index": 0 },
          { "node": "Wait for Approval", "type": "main", "index": 0 }
        ],
        [
          { "node": "Creation Failed", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          { "node": "Send Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          { "node": "Login for Update", "type": "main", "index": 0 }
        ]
      ]
    },
    "Login for Update": {
      "main": [
        [
          { "node": "Activate Client", "type": "main", "index": 0 }
        ]
      ]
    },
    "Activate Client": {
      "main": [
        [
          { "node": "Approved Result", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "onboarding" }
  ]
}
