n8n/workflows/client-onboarding.json
{
  "id": "2",
  "name": "Client Onboarding with Approval",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client-onboarding",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "client-onboarding"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "method": "POST",
        "url": "http://gateway:8090/api/v1/auth/login",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "Broker API Auth"
        }
      },
      "id": "login",
      "name": "Login to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gateway:8090/api/v1/clients",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ clientType: 'Individual', status: 'PendingKyc', firstName: $('Webhook Trigger').first().json.body.firstName, lastName: $('Webhook Trigger').first().json.body.lastName, email: $('Webhook Trigger').first().json.body.email, addresses: [] }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "create-client",
      "name": "Create Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst statusCode = resp.statusCode || 0;\nif (statusCode === 201) {\n  return [{ json: { status: 'created', clientId: resp.body.id, clientName: resp.body.firstName + ' ' + resp.body.lastName } }];\n} else {\n  const msg = resp.body?.detail || resp.body?.title || ('HTTP ' + statusCode);\n  return [{ json: { status: 'failed', error: msg, statusCode } }];\n}\n"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Login to API", "type": "main", "index": 0 }
        ]
      ]
    },
    "Login to API": {
      "main": [
        [
          { "node": "Create Client", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Client": {
      "main": [
        [
          { "node": "Build Response", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "onboarding" }
  ],
  "active": false
}
