n8n/workflows/health-check.json
{
  "name": "Broker Health Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "http://api:8080/health/ready",
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-api",
      "name": "Check API Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, -80],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://auth:8082/health/ready",
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-auth",
      "name": "Check Auth Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 80],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "api-status",
              "leftValue": "={{ $('Check API Health').first().json.status }}",
              "rightValue": "Healthy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "auth-status",
              "leftValue": "={{ $('Check Auth Health').first().json.status }}",
              "rightValue": "Healthy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-status",
      "name": "Both Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result",
              "name": "result",
              "value": "All services healthy",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "checkedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "all-healthy",
      "name": "All Healthy",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, -80]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result",
              "name": "result",
              "value": "Health check FAILED",
              "type": "string"
            },
            {
              "id": "api-status",
              "name": "apiStatus",
              "value": "={{ $('Check API Health').first().json.status ?? 'UNREACHABLE' }}",
              "type": "string"
            },
            {
              "id": "auth-status",
              "name": "authStatus",
              "value": "={{ $('Check Auth Health').first().json.status ?? 'UNREACHABLE' }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "checkedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "failure-details",
      "name": "Capture Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 80]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          { "node": "Check API Health", "type": "main", "index": 0 },
          { "node": "Check Auth Health", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check API Health": {
      "main": [
        [
          { "node": "Both Healthy?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Auth Health": {
      "main": [
        [
          { "node": "Both Healthy?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Both Healthy?": {
      "main": [
        [
          { "node": "All Healthy", "type": "main", "index": 0 }
        ],
        [
          { "node": "Capture Failure", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "monitoring" }
  ]
}
