n8n/workflows/health-check.json
{
  "id": "1",
  "name": "Broker Health Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "={{ $env.BROKER_API_HOST }}/health/ready",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "check-api",
      "name": "Check API Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, -80],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $env.BROKER_AUTH_HOST }}/health/ready",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "check-auth",
      "name": "Check Auth Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 80],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-results",
      "name": "Wait for Both",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [480, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "api-ok",
              "leftValue": "={{ $('Check API Health').first().json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "auth-ok",
              "leftValue": "={{ $('Check Auth Health').first().json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-status",
      "name": "Both Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result",
              "name": "result",
              "value": "All services healthy",
              "type": "string"
            },
            {
              "id": "api-body",
              "name": "apiResponse",
              "value": "={{ $('Check API Health').first().json.body }}",
              "type": "string"
            },
            {
              "id": "auth-body",
              "name": "authResponse",
              "value": "={{ $('Check Auth Health').first().json.body }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "checkedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "all-healthy",
      "name": "All Healthy",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [920, -80]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result",
              "name": "result",
              "value": "Health check FAILED",
              "type": "string"
            },
            {
              "id": "api-status",
              "name": "apiStatusCode",
              "value": "={{ $('Check API Health').first().json.statusCode ?? 0 }}",
              "type": "number"
            },
            {
              "id": "auth-status",
              "name": "authStatusCode",
              "value": "={{ $('Check Auth Health').first().json.statusCode ?? 0 }}",
              "type": "number"
            },
            {
              "id": "timestamp",
              "name": "checkedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "failure-details",
      "name": "Capture Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [920, 80]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          { "node": "Check API Health", "type": "main", "index": 0 },
          { "node": "Check Auth Health", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check API Health": {
      "main": [
        [
          { "node": "Wait for Both", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Auth Health": {
      "main": [
        [
          { "node": "Wait for Both", "type": "main", "index": 1 }
        ]
      ]
    },
    "Wait for Both": {
      "main": [
        [
          { "node": "Both Healthy?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Both Healthy?": {
      "main": [
        [
          { "node": "All Healthy", "type": "main", "index": 0 }
        ],
        [
          { "node": "Capture Failure", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "monitoring" }
  ]
}
